@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
}

/* body{
    max-width: 100vw;
    max-height: 100vh;
    color: #D4C5C5;
}  */

#root{
max-width: 100vw;
max-height: 100vh;
color: #D4C5C5;
}
